{
	"semi": false,
	"jsxSemi": false,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"singleQuote": false
			}
		}
	],
	"bracketSameLine": false,
	"jsxBracketSameLine": false,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 80,
	"trailingComma": "none"
}
