@import 'variables';

.archives {
	// min-height: 90vh;

	.archives__nav {
		margin: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.archives__nav--scroll {
	}

	// .archives__collapses {
	// 	height: 5.5rem;
	// 	border-bottom: solid 3px black;
	// 	display: flex;
	// 	flex-direction: row;
	// 	flex-wrap: wrap;
	// 	justify-content: center;
	// }
}
